/*BEGIN Xbox 360 Controller Styling*/
.controller.xbox-dark {
    background: url(bg.png);
    height: 544px;
    width: 668px;
    /*    margin-left: -332px;
        margin-top: -228px;*/
}

.xbox-dark.disconnected {
    background: url(bg-disconnect.png);
}

.xbox-dark.disconnected div {
    display: none;
}

.xbox-dark .triggers {
    width: 430px;
    height: 76px;
    position: absolute;
    left: 119px;
}

.xbox-dark .trigger {
    width: 33px;
    height: 76px;
    background: url(trigger.png);
    opacity: 0;
}

.xbox-dark .trigger.left {
    float: left;
    background-position: 0 0;
}

.xbox-dark .trigger.right {
    float: right;
    background-position: 0 -77px;
}

.xbox-dark .bumper {
    width: 119px;
    height: 44px;
    background: url(bumper.png);
    opacity: 0;
}

.xbox-dark .bumpers {
    position: absolute;
    width: 516px;
    height: 44px;
    left: 76px;
    top: 84px;
}

.xbox-dark .bumper.pressed {
    opacity: 1;
}

.xbox-dark .bumper.left {
    float: left;
}

.xbox-dark .bumper.right {
    float: right;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.xbox-dark .quadrant {
    position: absolute;
    background: url(quadrant.png);
    height: 100px;
    width: 100px;
    top: 165px;
    left: 284px;
    z-index: -1;
}

.xbox-dark .p0 {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.xbox-dark .p1 {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.xbox-dark .p2 {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.xbox-dark .p3 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.xbox-dark .arrows {
    position: absolute;
    width: 180px;
    height: 29px;
    top: 200px;
    left: 244px;
}

.xbox-dark .back, .xbox-dark .start {
    background: url(arrow.png);
    width: 34px;
    height: 29px;
}

.xbox-dark .back.pressed, .xbox-dark .start.pressed {
    background-position: 0 -30px;
}

.xbox-dark .back {
    float: left;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.xbox-dark .start {
    float: right;
}

.xbox-dark .abxy {
    position: absolute;
    width: 161px;
    height: 160px;
    top: 125px;
    left: 451px
}

.xbox-dark .button {
    position: absolute;
    width: 54px;
    height: 54px;
}

.xbox-dark .button.a {
    width: 53px;
    height: 53px;
}

.xbox-dark .button.y {
    width: 55px;
    height: 54px;
}

.xbox-dark .button.pressed {
    background-position: 0 -55px;
    margin-top: 6px;
    opacity: 1;
}

.xbox-dark .button.pressed.a {
    background-position: 0 -54px;
}

.xbox-dark .button.pressed.y {
    background-position: 0 -56px;
}

.xbox-dark .a {
    background: url(a.png);
    top: 108px;
    left: 55px;
}

.xbox-dark .b {
    background: url(b.png);
    top: 54px;
    right: 0px;
}

.xbox-dark .x {
    background: url(x.png);
    top: 54px;
}

.xbox-dark .y {
    background: url(y.png);
    left: 54px;
}

.xbox-dark .sticks {
    position: absolute;
    width: 383px;
    height: 208px;
    top: 167px;
    left: 89px;
}

.xbox-dark .stick {
    position: absolute;
    background: url(stick.png);
    height: 86px;
    width: 86px;
}

.xbox-dark .stick.pressed {
    background-position: 0 -87px;
}

.xbox-dark .stick.left {
    top: 0;
    left: 0;
}

.xbox-dark .stick.right {
    top: calc(100% - 86px);
    left: calc(100% - 86px);
}

.xbox-dark .dpad {
    position: absolute;
    width: 112px;
    height: 112px;
    top: 273px;
    left: 174px;
}

.xbox-dark .face {
    position: absolute;
    font-size: 30px;
    line-height: 0;
    color: white;
    opacity: 0;
    font-family: 'FontAwesome';
}

.xbox-dark .face.pressed {
    opacity: 1;
}

.xbox-dark .face.up {
    left: 42px;
    top: 20px;
}

.xbox-dark .face.up:after {
    content: "\f062";
}

.xbox-dark .face.down {
    left: 42px;
    bottom: 20px;
}

.xbox-dark .face.down:after {
    content: "\f063";
}

.xbox-dark .face.left {
    top: 56px;
    left: 3px;
}

.xbox-dark .face.left:after {
    content: "\f060";
}

.xbox-dark .face.right {
    top: 56px;
    right: 3px;
}

.xbox-dark .face.right:after {
    content: "\f061";
}

.xbox-dark.half {
    margin-top: -272px;
}

/*END Xbox 360 Controller Styling*/